/* Style Form*/

.form {
  display: flex;
  flex-direction: column;
  margin: 50px;
  max-width: 500px;
  margin: auto;
  margin-top: -70px;
  z-index: 2;
}

.form p {
  font-size: 15px;
  margin-left: 15px;
  color: #388cc8;
  font-weight: 500;
  margin-bottom: 5px;
  background-color: transparent;
}

.form h2 {
  color: #388cc8;
  text-align: center;
  margin-bottom: 15px;
  background-color: #fff;
}

.form-animal {
  display: flex;
  flex-direction: column;
}

.form-animal p {
  margin-bottom: 20px;
}

.form-animal h2 {
  margin-bottom: 40px;
}

/*----------------------------*/

/*Style Form-Content*/
#showLabel {
  visibility: inherit;
  height: 20px;
  width: 20px;
}

label {
  visibility: hidden;
  height: 0.1px;
  width: 0.1px;
}

input {
  padding: 10px;
  background: #8af5eb;
  border: #fff;
  border-radius: 10px;
  font-size: 17px;
  height: 45px;
}

select {
  padding: 10px;
  background: #8af5eb;
  border: #fff;
  border-radius: 10px;
  font-size: 17px;
  height: 45px;
}

textarea {
  padding: 10px;
  background: #8af5eb;
  border: #fff;
  border-radius: 10px;
  font-size: 17px;
  height: 70px;
}

#texteAreaModal {
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.content-top {
  padding: 20px;
  border-radius: 10px;
}

.imgPerfil img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-top: -83px;
}

#imgPerfilCadastrar {
  margin-top: -10px;
}

#imgPerfilUploaded {
  margin-top: -10px;
}

/*CSS Buttons*/
.btn-register {
  width: 95%;
  margin-left: 12px;
}
.fileButton {
  height: 0.1px;
  width: 0.1px;
  display: none;
}

#font {
  font-size: 10px;
  height: 20px;
  width: 20px;
}

.container-full {
  margin-top: 0px;
}

.row-botton {
  background-color: #fff;
}

.commentTextarea {
  color: #046890;
}

.commentTextarea::placeholder {
  color: #046890;
}

.commentTextarea:focus {
  outline: none;
  border: 2px solid #046890;
}

.container-full-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

/*Medias CSS*/

@media (max-width: 1150px) {
  #backgroundDiv {
    display: none;
  }
  .imgPerfil {
    margin-bottom: 15px;
    margin-left: -30px;
    margin-top: 40px;
  }
  #showLabel {
    margin-top: -40px;
  }

  .form-animal {
    margin-top: -400px;
  }
}

@media (max-width: 990px) {
  #backgroundDiv {
    display: none;
  }
  .imgPerfil {
    margin-top: 50px;
    margin-left: -10px;
  }
  #showLabel {
    margin-top: -40px;
  }

  .marginDiv {
    margin-bottom: 110px;
  }
}
